* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*font*/
body {
    font-family: 'Roboto', sans-serif;
}
/*centrare pagint*/
div.container {
    padding: 0 100px
}
/*dati navbar*/
div.navbar {
    min-height: 60px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);


}
/*dimensione logo*/
div.logo {
    width: 200px;
}

div.logo>img {
    width: 200px;
}
/* dati navdestra*/
div.nav-destra {
    display: flex;
    width: 400px;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

div.icon>i {
    font-size: 25px;
    margin: 5px;

    color: lightgray;
}

div.iconuser {
    font-size: 40px;
    margin: 5px;
}


#resume {
    width: 200px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding-left: 15px;

}

div.resume>span {
    font-size: 20px;
}

div.contenuto {
    display: flex;

}

/*impostazioni schermata sinista*/
div.left {
    width: 60%;
    border-right: 1px solid lightgrey;
}
/*impostazioni schermata destra*/
div.right {
    width: 40%;
}
/*conetnitore destro*/
div.contnetright {
    margin-left: 50px;
    margin-right: 50px;
}


/*impostazioni following*/
div.following {
    height: 35px;
    width: 90%;
    border-bottom: 1px solid lightgray;
    margin-top: 80px;
}

div.following span {
    font-weight: bold;
    margin-right: 30px;
}

div.following span:first-child {
    color: lightgray;
}
/*articoli parte sinistra*/
div.article {
    margin-top: 30px;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

div.article img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

div.nomeautore {
    margin-bottom: 10px;
    font-size: 18px;
}

div.testo i {
    margin-right: 10px;
}

.in {
    color: gray;
}

div.testo h2 {
    margin-bottom: 10px;
}

div.testo {
    width: 80%;
}

div.testo p {
    color: gray;
    margin-bottom: 10px;
}

div.date {
    display: flex;
    color: gray;
    margin-top: 20px;
    justify-content: space-between;
    font-size: 14px;
}

.point {
    position: relative;
    bottom: 5px;
}

div.date span:nth-child(5) {
    background-color: lightgray;
    border-radius: 8px;
    padding: 0 4px;
}



/*connessione twitter*/
div.twitter {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: 300px;
    border-bottom: 1px solid lightgray;


}

div.logotwitter {
    display: flex;
    justify-content: center;
}

.logomedium {
    width: 60px;
    height: 60px;
}

.fa-plus {
    font-size: 40px;
    color: gray;
    margin-top: 5px;
}

div.testotwitter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

div.testotwitter p {
    color: gray;
    font-size: 25px;
    text-align: center;
}

div.buttontwitter {
    margin-top: 30px;
    justify-content: center;
    display: flex;
}

.button {
    width: 200px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button img {
    width: 30px;
}

.later {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

a {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
/*topics*/
.topics {
    margin-top: 60px;


}

.containbuttontopics {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

}

.buttontopics {
    height: 30px;
    width: 100px;
    background-color: lightgray;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttontopics:last-child {
    height: 50px;
    width: 60px;
    height: 30px;
    background-color: lightgray;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttontopics span {
    align-items: center;
}
/*follow*/
.follow {

    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

}

.userfollow {

    display: flex;
    align-items: center;



}

.followbuttonwho {
    height: 35px;
    width: 80px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.userfollow i {
    font-size: 40px;
    display: flex;
    align-items: center;
}

.userfollow p {
    margin-left: 15px;




}

.userfollow p span {
    color: gray;
    margin-top: 15px;
}

/*recently*/
.contrecently {
    margin-top: 10px;
    margin-bottom: 30px;
}

.contrecently h2 {
    margin-top: 10px;
}

.contrecently span:nth-child(3) {
    color: gray;
    margin-top: 10px;
}

.see {
    color: green;
    margin-top: 20px;
}

.help {

    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.help p {
    color: gray;
    font-weight: bold;
}
/*pointer*/
.pointer {
    cursor: pointer;
}

.fa-circle-user {
    color: #4E8076;
}

.fa-star {
    color: gray;
    font-size: 13px;
    margin-left: 10px;
}